body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f7;
    text-align: center;
    margin: 0;
    padding: 0;
}
    
header {
    background-color: #e79f22;
    color: white;
    padding: 30px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

.content {
    padding: 40px 20px;
}

.engineer-image{
    margin-top: 10;
    margin-left: 100;
    margin-right: 100;
} 

.quote {
    font-style: italic;
    font-size: 1.2em;
    color: #884a4a;
    margin: 20px 0;
}

.button {
    background-color: #e79f22;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #f0f3f7;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #e79f22;
    color: white;
}
